.BasketModal {
    // width: 100vw;
    // height: 100vh;
    // background: rgba($color: #000000, $alpha: 0.5);
    // position: fixed;
    // top: 0;
    // left: 0;

    // .content {
    //     width: 38%;
    //     height: 27%;
    //     background: white;
    //     margin: auto auto;
    // }

    padding: 0 85px;
    padding-top: 95px;
    padding-bottom: 115px;

    .icon {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }

    h4 {
        font-weight: 500;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    p {
        font-weight: 300;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
    }
}