@import '../../../App//vars.scss';

.AdminButton {

    border-bottom: solid rgba($color: $grey_dark, $alpha: 0.2) 1px;
    .container {
        max-width: 1410px;
        margin: 0 auto;
        padding: 20px;
    }

    button {
        padding: 20px;
        background: rgba($color: $grey_dark, $alpha: 0.1);
        border-radius: 5px;
    }
    button:hover {
        background: rgba($color: $grey_dark, $alpha: 0.2);
    }
}